@import 'tailwindcss';
@import './colors.css';
@import './typography.css';
@import './radii.css';
@import './animations.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  line-height: var(--line-height-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
